<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 4rem;">
                <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">

                        <div style=" margin :0 auto">
                            <h2 class="fw-bold mb-2 text-uppercase">Profile</h2>
                        </div>
                        <div style=" margin-top:50px">
                            <div class="form-outline form-white mb-4">
                                <a asp-action="Register" asp-controller="Account"> <button type="button" class="btn btn-success btn-lg px-5">Sign up</button></a>

                            </div>

                            <div class="form-outline form-white mb-4">
                                <a asp-action="Login" asp-controller="Account"> <button type="button" class="btn btn-outline-light btn-lg px-5">Log in</button></a>

                            </div>
                            <div class="form-outline form-white mb-4">
                                <a asp-action="Index" asp-controller="Home"> <button type="button" class="btn btn-secondary btn-lg px-5">Cancel</button></a>

                            </div>
                        </div>

                    </div>

                    <div>
                        <p class="mb-0">You need an account to create a post</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
