
    <h1>Search for a Task</h1>

    <h4>Task</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <strong>Name</strong>
                </th>
                <th>
                    <strong>Difficulty</strong>
                </th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        <form asp-action="ShowSearchResultName">
                            <div class="form-group">
                                <label for="SearchPhrase" class="control-label"></label>
                                <input name="SearchPhrase" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Search" class="btn btn-outline-primary" />
                            </div>
                        </form>
                    </td>
                    <td>
                        <form asp-action="ShowSearchResultDifficulty">
                            <div class="form-group">
                                <label for="SearchPhrase" class="control-label"></label>
                                <input name="SearchPhrase" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Search" class="btn btn-outline-primary" />
                            </div>
                        </form>
                    </td>
                </tr>
        </tbody>
    </table>

    <div>
        <a class="btn btn-outline-dark" asp-action="UserToDoes">Back to List</a>
    </div>


